body {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    color: #2d2d2d;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.center-content-box h1 {
    font-size: 40px;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.center-content-box h2 {
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    text-align: center;
}

.center-content-box h2.subtitle {
    margin-top: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
}

.social-media-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-media-icon {
    display: inline-block;
    margin: 0 10px;
}

.social-media-icon svg {
    width: 35px;
    height: 35px;
    color: #3d3d3d;
    font-size: 30px;
}
